<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196290393572-ckopb2h8q1lc8cbika952rn29qsr4t21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196290393572-ckopb2h8q1lc8cbika952rn29qsr4t21</string>
	<key>API_KEY</key>
	<string>AIzaSyBC0JXPFzBOOaP8-C-w2R5Luyz3RROYrz4</string>
	<key>GCM_SENDER_ID</key>
	<string>196290393572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>sigongan-3f44b</string>
	<key>STORAGE_BUCKET</key>
	<string>sigongan-3f44b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196290393572:ios:4bc683d2776c41e0d943f1</string>
</dict>
</plist>